<%- include('./headerAdmin.ejs') %>
<%- include('./navbarAdmin.ejs') %>

<!-- javascript -->
<script src="./priceAdmin.js"></script>

<script>
  const user = "<%= sessionUser %>";
  const admin = "<%= sessionAdmin %>";
  const shop = "<%= sessionShop %>";
</script>

<h5>Price List</h5>
<table class="table table-dark price-list">
    <thead>
      <tr>
        <th scope="col">Beer</th>
        <th scope="col">StartDate</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody class="price-list-body">
    
    </tbody>
</table>

<%- include('../global/footer.ejs') %>