    <%- include('../global/header.ejs') %>
    <%- include('../global/navbarHome.ejs') %>

    <script src="./functionality/search-beers.js"></script>
    <script>
      const user = "<%= sessionUser %>";
    </script>

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="./functionality/search-beers.css">

    <h3>Search Beer</h3>
    <h7>Please type in the name of a beer or choose the following options.</h7>
    <br>
    <br>

    <div class="search-bars">
        <p>
            <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Search by beer name</span>
            </div>
            <input type="text" class="form-control" id="search-beername" aria-describedby="basic-addon3">
            </div>
        </p>
        <p>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="category">Search by category</label>
                </div>
                <select class="custom-select" id="category">
                  <option selected></option>
                </select>
              </div>
        </p>

        <button class="btn btn-warning"> Search <i class="fa fa-search"></i> </button>
        <br>
        <br>

        <h5>Result </h5>
        <table class="table table-dark beer-table">
            <thead>
              <tr>
                <th scope="col">Beer</th>
                <th scope="col">Name</th>
                <th scope="col">ABV</th>
                <th scope="col">Category</th>
                <th scope="col">Find Shop</th>
              </tr>
            </thead>
            <tbody class="search-beer-result">
            
            </tbody>
        </table>
        


    </div>





    <%- include('../global/chat.ejs') %>
    <%- include('../global/footer.ejs') %>